.hero-text h1{

font-size: 80px;
width: 450px;
}


.hero-text p{

font-size: 20px;
width: 500px;
}



.hero-feature button{

border: none;
background-color: pink;
color:white ;

}